<ng-content></ng-content>
<div id="debugPane" class="{{showDebugPane ? 'show' : ''}}">
  <header id="toggle-pane-view" (click)="toggleDebugPane()">
    <span>
      {{showDebugPane ? '∨' : '∧'}}
    </span>
  </header>
  <div>
    <aside id="settings">
      <app-config-pane
        [controller]="controller"
        (mountComponentClicked)="onMountComponentClicked()"
        (logEventStreamClicked)="onLogEventStreamClicked()"
        (generateDataClick)="generateDataClicked()"
      ></app-config-pane>
    </aside>
    <aside id="eventStream">
      <app-event-list [events]="eventStream"></app-event-list>
    </aside>
  </div>

</div>
