.payment-method{
    background-color: #ecf0f1
}
.transport-service{
    background-color: #62a2b3
}
.guarantee-option{
    background-color: #5db685
}
.physical-auction{
    background-color: #a3c7a3
}
.offsite-vehicles{
    background-color: #82d4d0
}

